
/* 
COLOUR PALETTE!!
Blue Grotto   #059DC0
Turquoise     #04D4F0
Aqua          #04ECF0
Cyan          #6AF2F0
Light gray    #d3d4d6 
*/

/* GLOBAL STYLES 
---------------------------------------*/


html {
    box-sizing: border-box;
    font-size: 62.5%; /* setting default to 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}
html, body {
    height: 100%;
}
body {
    background: #000d24;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 1.4;
    color: #04ECF0;
    
}
h1, h2, h3 {
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    margin: 0;
    color: #6AF2F0;
    
}
h1 {
    font-size: 8rem;
    line-height: 1;
}
h2 {
    font-size: 3.6rem;
  
}
h3 {
    font-size: 2.4rem;
    
}
.content-wrapper {
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;

}
/* LINK STYLES
---------------------------------------*/
a {
    color: #059DC0;

}
a:hover {
    color: #04D4F0;
    text-decoration: none;
}
footer a {
    color: #04D4F0;
}
footer a:hover{
    color: #04ECF0;
}

.btn {
    background: #059DC0;
    color: #d3d4d6 ;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.1em;
    display: inline-block;
    padding: 7px;
    line-height: 1;
    border-radius: 6px;
}

/* HOME 
---------------rgb(255 255 255 / 0.9)------------------------*/
.home {
    background: url(../images/nasa-Q1p7bh3SHj8-unsplash.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    
}
.home .content-wrapper {
    
    color: white;
    flex: 1 0 auto;

}
.content-bg {
    background: #000000;
    padding: 20px;

}
@media screen and (max-width:650px) {
    .home .content-wrapper {
        padding: 10px;

    }
    .content-bg {
        padding: 20px;
    }
}

/* RESUME
---------------------------------------*/
.resume header::before {
    background: url(../images/nasa-Q1p7bh3SHj8-unsplash.jpg) center;
    background-size: cover;
   

    content: "";
    display: block;
    height: 375px;
}
.resume-section {
    margin-bottom: 50px;

}

.resume-section h2 {
    border-bottom: 2px dashed #7996d1; 
}
.download-link {
    position: fixed;
    top: 5px;
    left: 5px;
    font-size: 1.5rem;
}

@media screen and (max-width: 1200px){
    .download-link {
        position: absolute;
    }
}

@media screen and (max-width: 500px) {
    .resume header::before {
        height: 200px;

    }
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 2.6;
    }
}
/* PROFILE 
---------------------------------------*/

/* PROJECTS
---------------------------------------*/
.project-item {
    
    margin: 30px 0;
}
.project-item img {
    width: 300px;
   
}

@media screen and (min-width:903px) {

    .project-item {
        display: flow-root;
        
    }
    .project-item img {
        width: 300px;
        float: left;
        margin-right: 20px;
    }

}
@media screen and (min-width:610px) and (max-width:902px) {
    .project-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }
    .project-item img {
        width: 100%;
    }
}
@media screen and (max-width:600px) {
    .project-item img {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* WORK EXPERIENCE
---------------------------------------*/
.work-item {
    
    margin: 30px 0;
}
.work-details p {
    margin: 0;

}

@media screen and (min-width:860px) {

    .work-item {
        display: grid;
        grid-template-columns: 300px 1fr;
        column-gap: 20px;
       
    }
    .work-summary p:first-child {
        margin: 0;
    }

}

/* EDUCATION
---------------------------------------*/
.edication-item {
    margin: 30px 0;
}
.education-item p {
    margin: 0;
}

/* FOOTER 
---------------------------------------*/
footer {
    background: #222;
    color: #d3d4d6;
    
}
.socials {
    list-style-type: none;
    padding: 0;
}
.socials li {
    display: inline-block;
    margin-left: 10px;

}
.socials img {
    width: 32px;
}
.socials img:hover {
    opacity: 0.5;
}
@media screen and (min-width:860px) {

    footer {
        
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }

}

@media screen and (max-width:859px) {

    footer {
        text-align: center;
        padding: 10px;
    }

}
